
  
    .product-image {
      /* Estilos para la imagen del producto */
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
  
      img {
        max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
        max-height: 100%; /* Ajusta la altura máxima de la imagen */
        object-fit: contain; /* Ajusta la forma en que la imagen se ajusta dentro del contenedor */
      }
    }
  
   