
.navbar2 {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  .container {
    display: flex;
    justify-content: center;
  }
  .navbar-logo {
    width: 40px; 
    height: auto; 
    margin-right: 10px;
  }
  
  #navbarNav {
    ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin: 0;
      padding: 0;
      margin-top: 75px; 

      li {
        a {
          color: white;
          text-decoration: none;
          margin: 35px;

          &:hover {
            color: #adb5bd;
          }
        }
      }
    }
  }
}
